@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

.parallax-card {
  position: relative;
  width: 30%;
  height: 30%;
  overflow: hidden;
  padding: 10px;
}


.parallax-card img {
  aspect-ratio: 4/3;
}


.parallax-card .img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  /* transform: translate(-50%, -50%); */
}


.parallax-card .img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  /* transform: translate(-50%, -50%); */
}


.card-content {
  position: absolute;
  bottom: -50px;
  left: 45%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: #fff;
  text-align: center;
  z-index: 3;
}


.card-content h2 {
  font-size: 24px;
  margin: 0;
}


.card-content p {
  font-size: 16px;
  margin: 0;
}

.index .hawa-mahal {
  height: 278px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 203px;
  width: 326px;
}

.index .text-wrapper {
  color: #ffffff;
  font-family: "Kelly Slab", Helvetica;
  font-size: 36px;
  font-weight: 400;
  /* left: 72px; */
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  bottom: -88%;
  width: 80%;
}

.index .overlap-2 {
  width: 100%;
  height: 70%;
  /* left: 15%; */
  position: relative;
  /* top: 263px; */
  justify-content: center;
}

.index .img {
  height: 100%;
  width: 80%;
  background-color: #7F5539;
  position: absolute;
  border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
  -webkit-box-shadow: inset 14px 14px 50px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 14px 14px 50px -11px rgba(0, 0, 0, 0.75);
  box-shadow: inset 14px 14px 50px -11px rgba(0, 0, 0, 0.75);
}

.index .img-inside {
  height: 70%;
  width: 70%;
  position: absolute;
  -webkit-filter: drop-shadow(10px 5px 5px #222);
  filter: drop-shadow(10px 5px 5px #222);
}


.text-wrapper{
  content: "";
  position: relative;
  border: #fff 2px solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
}