#container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height:400px;
    
    /* margin-top: 40%; */
    
}
/* #container div{ */
    /* height:300px;
    width:300px; */
    /* border:10px solid #000000; */
    /* margin-left:50px; */
    
/* } */

.box{
    margin-top:50%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items:center;  
}