@import url("https://fonts.googleapis.com/css?family=Palette+Mosaic:400|Inknut+Antiqua:400|Purple+Purse:400|Inter:400|Kelly+Slab:400|Josefin+Slab:400");

.index {
  background-color: #ffb3c6;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Categories-Intro {
  height: 280px;
  width: 100%;
  position: relative;
  text-align: center;
}

.Categories-Intro-Title {
  width: 100%;
  position: absolute;
  top: 25%;
  text-align: center;
  font-size: 52px;
  font-family: "Purple Purse", Helvetica;
  color: #FFF;
}

.vector-3 {
  position: relative;
  top: 25%;
}

.flower-3 {
  position: absolute;
  top: 25%;
  left: 35%;
}

.card-container-carousel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80%;
}

.scrolling-wrapper-flexbox {
  height: 350px;
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  display: flex;
  align-items: center;

  .overlap-eco-card {
    flex: 0 0 auto;
    margin-right: 5%;
    margin-left: 5%;
  }
  .overlap-eco-card2 {
    flex: 0 0 auto;
    margin-right: 5%;
    margin-left: 5%;
  }
}

.scrolling-wrapper,
.scrolling-wrapper-flexbox {
  width: 100%;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}


.index .div {
  background-color: #ffb3c6;
  height: 5585px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.index .flower {
  height: 126px;
  left: 173px;
  opacity: 0.44;
  position: absolute;
  top: 1904px;
  width: 134px;
}


.dress-showcase-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rectangle-showcase {
  position: relative;
  height: 70%;
  width: 40%;
}

.rectangle-showcase-1 {
  position: relative;
  background-color: rgb(99, 33, 31, 0.4);
  border-radius: 52px;
  width: 100%;
  height: 100%;
  transition: all 400ms linear;
  z-index: 3;
}

.rectangle-showcase:hover .rectangle-showcase-1 {
  scale: 1.1;
}

.rectangle-showcase:hover .rectangle-showcase-2 {
  scale: 1.1;

}

.rectangle-showcase-2 {
  position: relative;
  background-color: rgb(239, 177, 127) !important;
  border-radius: 52px;
  width: 100%;
  height: 100%;
  transition: all 400ms linear;
  z-index: 3;
}

.largeImages {
  position: absolute;
  width: 100%;
  z-index: 5 !important;
}

.largeImages1 {
  top: 3%;
}

.largeImages2 {
  top: 0%;
  right: 0%;
  width: 110%;
}

.just-for-you {
  width: 100%;
  height: 100%;
}


.card-container-jfy {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.Hottest-card-containers{
  width: 98%;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  top: 15%;
  left: 5px;
}

.weHaveMoreSection{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  flex-wrap: nowrap;
  /* &::-webkit-scrollbar {
    display: none;
  } */
}

