.overlap-eco-card {
    position: relative;
    width: 15%;
}

.flower-up {
    position: absolute;
    top: -7%;
    left: -15%;
    z-index: 0;
    transition: all 500ms linear;
}

.flower-down {
    position: absolute;
    bottom: -7%;
    right: -15%;
    z-index: 0;
}

.eco-card-image {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.eco-card-title {
    font-family: "Inknut Antiqua", Helvetica;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    border-radius: 40px;
    transition: all 500ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.4);
}


.overlap-eco-card:hover .eco-card-title{
    opacity: 1;
}

.overlap-eco-card:hover .flower-up{
   animation: rotate360 infinite 2s linear;
}

.overlap-eco-card:hover .flower-down{
   animation: rotate360 infinite 2s linear;
}

@keyframes rotate360 {
    
    100%{
        rotate: 360deg;
    }

}