@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

.desktop {
    background-color: #ffe5d9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-image:url("../assets/ecom/ecombg.jpg");
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    width: 100dvw;
  }
  
  .desktop .group {
    height: 50dvh;
    left: 18px;
    position: absolute;
    top: 325px;
    width: 90dvw;
  }
  
  .desktop .overlap {
    height:100px;
    /* left: 1608px; */
    position: absolute;
    /* top: 7px; */
    width: 100dvw;
    margin-top:20px;
    

  }
  
  /* .desktop .ellipse {
    background-color: #dec9e9;
    border-radius: 58.5px;
    box-shadow: inset -12px -3px 10px #00000059;
    height: 100px;
    position: absolute;
    width: 100px;
    top: 24px;
    left: 1600px;
  }
  
  .desktop .ellipse-2 {
    background-color: #dec9e9;
    border-radius: 68px;
    box-shadow: inset -12px 3px 10px #00000059;
    height: 120px;
    position: absolute;
    width: 120px;
    top: 10px;
    right: -1370px;
  } */
  
  .desktop .text-wrapss{
    color: #000000;
    font-family: "Gilda Display-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    right: 0;
    margin-right: 249px;
    margin-top: 18px;

  }
  
  .desktop .text-wrapper-2 {
    color: #000000;
    font-family: "Gilda Display-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    right: 0;
    margin-right: 56px;
    margin-top: 19px;

  }
  
  .desktop .overlap-group {
    height: 75px;
    position: absolute;
    width: 350px;
    top: 30px;
    left: 30px;
    /* left: -27px;
    top: 45px; */
  }
  
  .desktop .rectangle {
    background-color: #ffcf70;
    border-radius: 20px;
    box-shadow: -10px 12px 20px #00000057;
    height: 58px;
    position: absolute;
    width: 202px;
    left: 0;
    margin-top: 10px;
    margin-left: 30px;
    /* left: 66px;
    top: 0; */
  }
  .desktop .rectangle2 {
    background-color: #ffcf70;
    border-radius: 20px;
    box-shadow: -10px 12px 20px #00000057;
    height: 41px;
    position: absolute;
    width: 140px;
    margin: 10px;
    right: 0;
    margin-right: 30px;
  }
  
  .desktop .rectangle3 {
    background-color: #ffcf70;
    border-radius: 20px;
    box-shadow: -10px 12px 20px #00000057;
    height: 41px;
    position: absolute;
    width: 130px;
    margin: 10px;
    right: 0;
    margin-right: 210px;
    
    /* left: 66px;
    top: 0; */
  }
  
  .desktop .text-wrapper-3 {
    color: #000000;
    font-family: "Gilda Display-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    height: 23px;
    line-height: normal;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    left: 0;
    margin-left: 58px;
    margin-top: 24px;
  }
  
  .desktop .div-wrapper {
    background-color: #ffffff;
    border-radius: 35px;
    /* box-shadow: inset 20px -12px 25px #00000040; */
    height: 10%;
    position: relative;
    width: 60%;
    left: 50%;
    top: 14%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
  }
  
  .desktop .text-wrapper-4 {
    color: #000000;
    font-family: "Lancelot-Regular", Cursive;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    /* position: relative; */
    text-align: center;
    height: 100%;
    width: 100%;
  }
  
  .main-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
  }