

.frame-card {
    margin-top: 5%;
    height: 100%;
    width: 15%;
    background-color: "#b56576";
    border-radius: 30px;
    height: 100%;
    left: 3vw;
    position: "fixed";
    top: 31px;
}

.frame-card .clothes2 {
    height: 100%;
    left: 0;
    top: 0;
    width: 80%;
    width: 80%;
}

.frame-card .overlap-group2 {
    margin: 20px;
    background-color: #b56576;
    border-radius: 30px;
    box-shadow: inset -5px 6px 4px 6px #00000040;
    height: 55%;
    width: 100%;
}

.frame-card .img2 {
    top: 75px;
    left: 0;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.frame-card .overlap2 {
    position: relative;
    margin: 20px;
    width: 100%;
    height: 20%;
}

.frame-card .rectangles {
    background-color: #b56576;
    border-radius: 20px;
    height: 50%;
    width: 100%;
    box-shadow: inset -5px 3px 4px 4px #00000040;
    display: flex;
}

.frame-card .text-title2 {
    color: #ffffff;
    font-family: "Gilda Display-Regular", Helvetica;
    font-size: 18px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: -40%;
    height: 100%;
    width: 100%;
}
